@import "palette.styl"
@require '~vuepress-plugin-tabs/dist/themes/default.styl'

#app
  h2
    border-bottom 1px solid rgba(0,0,0,0.07)

  .custom-block
    &.tip
      border-color #409EFF

  blockquote
    font-size 1em
  .tabs-component
    margin: 0.5em 0

  .navbar
    border-bottom none;
    box-shadow 0 6px 36px 0 rgba(0,62,100,.04)

  .sidebar
    .sidebar-links
      li:not(:first-child)
        margin-top 0.1rem
    box-shadow 0 6px 36px 0 rgba(0,62,100,.07)
    border-right none
    .sidebar-sub-headers
        a.sidebar-link
          padding-top: .25rem
          padding-bottom: .25rem
          border-left: none
          word-break: break-all

  .can-hide
    &.site-name
      display none

  .home-page
    .navbar
      box-shadow none
      position relative

  .sw-update-popup
    box-shadow: 0 4px 16px rgba(0,0,0,.2)
    border none
    padding 1.2rem
    font-size 14px
    button
      border: none;
      border-radius: 40px;
      background: #409EFF;
      color: white;
      margin-top: 1.2rem;
      cursor: pointer;
      padding: 5px 1.5rem;

  .v-icon, .custom-icon
    width: 24px;

  @media (max-width: 719px)
    .navbar
      .logo
        display none
      .site-name
        &.can-hide
          display block

    .sidebar
      box-shadow 0 6px 36px 0 rgba(0,62,100,.04)
      .nav-links
        border-bottom none
