.custom-block.tip
  border-color #409EFF !important

body
  font-size 15px
  background #fff
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;

.navbar
  border-bottom none;
  box-shadow 0 6px 36px 0 rgba(0,62,100,.04)

.sidebar
  border-right none

.can-hide
  &.site-name
    display none

.home-page
  .navbar
    box-shadow none
    position relative

